<ion-header>
  <ion-toolbar>
    <ion-title>DocSaver</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Hi, there</ion-card-subtitle>
      <ion-card-title>Welcome to Doc Saver</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Now easily manage all your documents in a single dashboard.  You can save soft copies or digital copies of your documents in order to retrieve them easily as and when you required.</p>
    </ion-card-content>
  </ion-card>
    
  <ion-segment [(ngModel)]="userAction">
    <ion-segment-button value="signIn">
      Sign In
    </ion-segment-button>
    <ion-segment-button value="signUp">
      Sign Up
    </ion-segment-button>
  </ion-segment>    
  <div [ngSwitch]="userAction">
    <div *ngSwitchCase="'signIn'">
      <form [formGroup]="signInForm" (ngSubmit)="signIn()">
        <ion-card>
          <ion-card-header text-center>
            <ion-card-title>Sign in</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Email <span style="color: red">*</span></ion-label>
              <ion-input autofocus="true" required="true" type="text" formControlName="email"></ion-input>
            </ion-item>      
            <ion-item>
              <ion-label position="floating">Password <span style="color: red">*</span></ion-label>
              <ion-input required="true" type="password" formControlName="password"></ion-input>
            </ion-item> 
            <br> 
            <ion-button type="submit" size="small" [disabled]="!signInForm.valid || processing">Sign in<ion-spinner *ngIf="processing"></ion-spinner>            </ion-button>
          </ion-card-content>
        </ion-card>
      </form>
    </div>
    <div *ngSwitchCase="'signUp'">
      <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <ion-card>
          <ion-card-header text-center>
            <ion-card-title>Sign up</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Your Name <span style="color: red">*</span></ion-label>
              <ion-input autofocus="true" required="true" type="text" formControlName="name"></ion-input>
            </ion-item>    
            <ion-item>
              <ion-label position="floating">Email <span style="color: red">*</span></ion-label>
              <ion-input required="true" type="text" formControlName="email"></ion-input>
            </ion-item>      
            <ion-item>
              <ion-label position="floating">Password (must be of at least 8 characters)<span style="color: red">*</span></ion-label>
              <ion-input required="true" minlength="8" type="password" formControlName="password"></ion-input>
            </ion-item> 
            <br> 
            <ion-button type="submit" size="small" [disabled]="!signUpForm.valid || processing">Sign up<ion-spinner *ngIf="processing"></ion-spinner></ion-button>
          </ion-card-content>
        </ion-card>
      </form>
    </div>
  </div>

</ion-content>
