<ion-header>
  <ion-toolbar>
    <ion-title>
      My Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>    
  <ion-card>
    <ion-card-header>
      <ion-card-title *ngIf="dataLoaded">Hi, {{data.name}}</ion-card-title>
      <ion-card-subtitle *ngIf="dataLoaded"><ion-icon color="primary" name="mail"></ion-icon> {{data.email}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Now easily manage all your documents in a single dashboard. Your added documents are listed below.</p>
      <ion-button size="small" (click)="logout()">Logout</ion-button>
    </ion-card-content>    
  </ion-card>
</ion-content>
